.header-main {
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 30px;
  padding: 10px;
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
}

.header-container {
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 30px;
  padding: 10px;
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
}

.header-container .header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header-container .MuiIconButton-root {
  max-width: 50px; /* Establece un ancho máximo para el IconButton */
}

.iconButton:hover {
  color:white;
  background-color: #0da290 !important;
}

.formGroup select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff; /* Color de fondo blanco */
  color: #333; /* Color del texto */
}