body {
  background-color: #1ccda0 !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

@keyframes waveAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

/* Estilos para las tarjetas */
.cards-container {
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 200px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  align-items: center;
}